<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portofolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

  </head>

  <body>
    <div id="app">
      <!-- .hero -->
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hello I'm <strong class="has-text-danger">Liandi Haikal</strong>
            </h1>
            <h2 class="subtitle">
              this My <strong class="has-text-danger">Portofolio</strong>
            </h2>
          </div>
        </div>
      </section>
      <!-- /.hero -->

      <!-- .Section -->
      <div class="section has-background-light">
        <div class="container">
          <div class="columns is-multiline ">
            <div v-for="project in projects" class="column is-one-third">
              <article class="media notification has-background-danger">
                <div class="media-content">
                  <div class="content">
                    <h1 class="title has-text-white is-size-4">
                      {{project.name}}
                    </h1>
                    <p class="subtitle has-text-white is-size-5">
                      {{ project.desc }}
                    </p>
                    <p class="subtitle is-size-5">
                      <a class="button is-white has-text-danger" :href="project.link" target="_blank">Github</a>
                      <a v-if="project.demo != ''" class="button is-white has-text-danger" :href="project.demo" target="_blank">Demo</a>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <!-- /.Section -->

      <!-- .Footer -->
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <a target="_blank" class="button is-danger" href="https://www.instagram.com/yrugmst"><i class="fab fa-instagram fa-2x"></i></a>
            <a target="_blank" class="button is-link" href="https://www.facebook.com/liandi.haikal"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a target="_blank" class="button is-success" href="https://wa.me/6281267582824?text=Halo%20liandi%20haikal%20saya%20menyukai%20portofoliomu"><i class="fab fa-whatsapp fa-2x"></i></a>
            <a target="_blank" class="button is-info" href="https://t.me/liandi_haikal"><i class="fab fa-telegram fa-2x"></i></a>
          </p>
          <p class="content">
            <strong>©{{ date }} Portofolio</strong>
            <a class="has-text-danger" href="https://github.com/liankip">Liandi Haikal</a> .
          </p>
        </div>
      </footer>
      <!-- /.Footer -->
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          date: new Date().getFullYear(),
          projects: []
        },
        mounted() {
          axios
            .get(
              "https://my-json-server.typicode.com/liankip/portofolio-api/project"
            )
            .then((Response) => (this.projects = Response.data));
        }
      });
    </script>
  </body>

</html>